<div class="aboutus">
  <div class="addabout">
    <form>
      <div class="form-group">
        <textarea name="about" class="form-control f14 c32" id="about" rows="10"></textarea>
      </div>
      <div class="d-flex justify-flex-end">
        <button type="button" class="btn f12 bE6 bold btnCancel pd723 text-right">Clear</button>
        <button type="submit" class="btn f12 b008 bold btnOk pd723 text-right">Add</button>
      </div>
    </form>
  </div>

  <div class="editabout">
    <div class="row">
      <div class="col-lg-11 col-md-11">
        <form>
          <div class="form-group">
            <textarea name="about" class="form-control f14 c32" id="about" rows="10" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod suscipit maxime repudiandae quis quasi cum voluptatem, doloribus, ab exercitationem praesentium nostrum beatae nulla expedita cumque minus molestias atque magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod suscipit maxime repudiandae quis quasi cum voluptatem, doloribus, ab exercitationem praesentium nostrum beatae nulla expedita cumque minus molestias atque magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod suscipit maxime repudiandae quis quasi cum voluptatem, doloribus, ab exercitationem praesentium nostrum beatae nulla expedita cumque minus molestias atque magnam."></textarea>
          </div>
        </form>
      </div>
      <div class="col-lg-1 col-md-1 pdl-0">
        <button type="button" class="btn f12 btransparent bold btnborderE7">Edit</button>
      </div>
    </div>
  </div>

  <div class="addabout">
    <form>
      <div class="form-group">
        <textarea name="about" class="form-control f14 c32" id="about" rows="10" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod suscipit maxime repudiandae quis quasi cum voluptatem, doloribus, ab exercitationem praesentium nostrum beatae nulla expedita cumque minus molestias atque magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod suscipit maxime repudiandae quis quasi cum voluptatem, doloribus, ab exercitationem praesentium nostrum beatae nulla expedita cumque minus molestias atque magnam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod suscipit maxime repudiandae quis quasi cum voluptatem, doloribus, ab exercitationem praesentium nostrum beatae nulla expedita cumque minus molestias atque magnam."></textarea>
      </div>
      <div class="d-flex justify-flex-end">
        <button type="button" class="btn f12 bE6 bold btnCancel pd723 text-right">Cancel</button>
        <button type="submit" class="btn f12 b008 bold btnOk pd723 text-right">Save</button>
      </div>
    </form>
  </div>
</div>