<!-- 
<div id="status" *ngIf="!isConnected">No Internet Connection</div> -->
<div class="s-partner card minheight" *ngIf="loaded1 == true && loaded == true">
  <p class="f14 c32 bold">Customers</p>
  <hr>
  <div class="card-body pd-0">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <a class="btn btnlist" href="#myModal" data-toggle="modal" (click)="changelistView()" [ngClass]="{'active1' : listView}"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="511.626px" height="511.626px" viewBox="0 0 511.626 511.626" style="enable-background:new 0 0 511.626 511.626;"
          xml:space="preserve" class="list">
       <g>
         <g>
           <path d="M63.953,164.453H9.135c-2.474,0-4.615,0.9-6.423,2.709C0.903,168.972,0,171.114,0,173.589v54.817
             c0,2.473,0.903,4.619,2.712,6.424c1.809,1.803,3.949,2.712,6.423,2.712h54.818c2.474,0,4.615-0.905,6.423-2.712
             c1.809-1.809,2.712-3.951,2.712-6.424v-54.817c0-2.475-0.904-4.617-2.712-6.427C68.568,165.356,66.427,164.453,63.953,164.453z"/>
           <path d="M63.953,383.722H9.135c-2.474,0-4.615,0.896-6.423,2.707C0.903,388.238,0,390.378,0,392.854v54.82
             c0,2.471,0.903,4.609,2.712,6.42c1.809,1.813,3.949,2.714,6.423,2.714h54.818c2.474,0,4.615-0.903,6.423-2.714
             c1.809-1.807,2.712-3.949,2.712-6.42v-54.82c0-2.477-0.904-4.616-2.712-6.426C68.568,384.625,66.427,383.722,63.953,383.722z"/>
           <path d="M63.953,274.082H9.135c-2.474,0-4.615,0.91-6.423,2.714S0,280.749,0,283.22v54.815c0,2.478,0.903,4.62,2.712,6.427
             c1.809,1.808,3.949,2.707,6.423,2.707h54.818c2.474,0,4.615-0.896,6.423-2.707c1.809-1.807,2.712-3.949,2.712-6.427V283.22
             c0-2.471-0.904-4.613-2.712-6.424C68.568,274.989,66.427,274.082,63.953,274.082z"/>
           <path d="M63.953,54.817H9.135c-2.474,0-4.615,0.903-6.423,2.712S0,61.479,0,63.953v54.817c0,2.475,0.903,4.615,2.712,6.424
             s3.949,2.712,6.423,2.712h54.818c2.474,0,4.615-0.9,6.423-2.712c1.809-1.809,2.712-3.949,2.712-6.424V63.953
             c0-2.475-0.904-4.615-2.712-6.424C68.568,55.725,66.427,54.817,63.953,54.817z"/>
           <path d="M502.49,383.722H118.771c-2.474,0-4.615,0.896-6.423,2.707c-1.809,1.81-2.712,3.949-2.712,6.426v54.82
             c0,2.471,0.903,4.609,2.712,6.42c1.809,1.813,3.946,2.714,6.423,2.714H502.49c2.478,0,4.616-0.903,6.427-2.714
             c1.81-1.811,2.71-3.949,2.71-6.42v-54.82c0-2.477-0.903-4.616-2.71-6.426C507.106,384.625,504.967,383.722,502.49,383.722z"/>
           <path d="M502.49,274.082H118.771c-2.474,0-4.615,0.91-6.423,2.714s-2.712,3.953-2.712,6.424v54.815
             c0,2.478,0.903,4.62,2.712,6.427c1.809,1.808,3.946,2.707,6.423,2.707H502.49c2.478,0,4.616-0.896,6.427-2.707
             c1.81-1.807,2.71-3.949,2.71-6.427V283.22c0-2.471-0.903-4.613-2.71-6.424C507.106,274.992,504.967,274.082,502.49,274.082z"/>
           <path d="M508.917,57.529c-1.811-1.805-3.949-2.712-6.427-2.712H118.771c-2.474,0-4.615,0.903-6.423,2.712
             s-2.712,3.949-2.712,6.424v54.817c0,2.475,0.903,4.615,2.712,6.424s3.946,2.712,6.423,2.712H502.49c2.478,0,4.616-0.9,6.427-2.712
             c1.81-1.809,2.71-3.949,2.71-6.424V63.953C511.626,61.479,510.723,59.338,508.917,57.529z"/>
           <path d="M502.49,164.453H118.771c-2.474,0-4.615,0.9-6.423,2.709c-1.809,1.81-2.712,3.952-2.712,6.427v54.817
             c0,2.473,0.903,4.615,2.712,6.424c1.809,1.803,3.946,2.712,6.423,2.712H502.49c2.478,0,4.616-0.905,6.427-2.712
             c1.81-1.809,2.71-3.951,2.71-6.424v-54.817c0-2.475-0.903-4.617-2.71-6.427C507.106,165.356,504.967,164.453,502.49,164.453z"/>
         </g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       <g>
       </g>
       </svg>
       </a>
        <a class="btn btngrid" href="#myModal" data-toggle="modal" (click)="changegridView()" [ngClass]="{'active1' : gridView}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve" width="512px" height="512px" class="grid">
          <g>
            <g>
              <g>
                <rect x="213.333" y="0" width="170.667" height="128"/>
                <rect x="0" y="0" width="170.667" height="213.333"/>
                <rect x="0" y="256" width="170.667" height="128"/>
                <rect x="213.333" y="170.667" width="170.667" height="213.333"/>
              </g>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
        </a>
        <span class="f14 c75" *ngIf="listView && filteredCustomerData.length != 0">
          Showing {{ ((currentPage-1) * itemsPerPage)+1 }} - {{ max }} of {{ filteredCustomerData.length }}
      </span>
      <span class="f14 c75" *ngIf="gridView && filteredCustomerData.length != 0">
          Showing {{ ((currentPage1-1) * itemsPerPage1)+1 }} - {{ max1 }} of {{ filteredCustomerData.length }}
      </span>
      </div>
      <div class="col-lg-6 col-md-6 text-right">
          <button class="btn excelBtnFilter f12 b008 bold" href="#myModal" data-toggle="modal" (click)="exportAsXLSX(searchText)" *ngIf="customerData.length != 0">Export to Excel</button>   
        <form class="form-inline float-right" *ngIf="customerData.length != 0">
          <input class="form-control f14 cac mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]= "searchText" [ngModelOptions]="{standalone: true}">
          <img src="assets/icons/magnify - Copy.svg" alt="Search">
        </form>
      </div>
    </div>
    <div id="table" *ngIf="listView">
      <table class="table text-left mt18 table-md">
        <thead>
          <tr class="bold c32 f14">
            <th></th>
            <th scope="col">Customer</th>
            <th scope="col">Joined On</th>
            <th scope="col">Mobile</th>
            <!-- <th scope="col" *ngIf="currentCity == 'all_cities'">City</th> -->
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr class="f14 c32" routerLink="cDetails/{{data.code}}" *ngFor="let data of (filteredCustomerData | category: {name: searchText,created: searchText,mobile: searchText,city_label: searchText,email: searchText}) | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index">
            <td class="text-right"><img [src]="data.profile_image_url" (load)="dosomething(data)" class="p-userimg" [ngClass]="{'smallLoader': data.loading == 1}" alt="user" onError="this.src='assets/icons/user (1).svg';"></td>
            <td scope="row"><span class="wrap">{{data.name | titlecase}}</span></td>
            <td>{{data.created | date: 'd MMM y h:mm a'}}</td>
            <td>{{data.mobile}}</td>
            <!-- <td *ngIf="currentCity == 'all_cities'"><span class="wrap">{{data.city_label | titlecase}}</span></td> -->
            <td><span class="wrap">{{data.email | lowercase}}</span></td>
          </tr>
          <tr class="r" *ngIf="filteredCustomerData.length ==0 || (filteredCustomerData | category: {name: searchText,created: searchText,mobile: searchText,city_label: searchText,email: searchText}).length == 0" >
            <td colspan="7" class="text-center">
            <img class="p-userimg1" src="assets/icons/empty-folder.svg" alt="empty">
             No Data</td>
          </tr>  
      </table>
      <pagination-controls #page class="float-right mt18 f14 cac pagination" (pageChange)="p = $event;changed($event)" responsive="true" screenReaderPaginationLabel="Pagination" autoHide="true" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page" *ngIf="(filteredCustomerData | category: {name: searchText,created: searchText,mobile: searchText,city_label: searchText,email: searchText}).length > 10"></pagination-controls>
    </div>
    <div class="noData d-image text-center pd130" *ngIf="((filteredCustomerData | category: {name: searchText,created: searchText,mobile: searchText,city_label: searchText,email: searchText}).length == 0)  && gridView ">
      <img src="assets/icons/empty-folder.svg" alt="empty">
      <p class="c75 f18">No Data</p>
    </div>
    <div *ngIf="gridView">
      <div class="row d-customers mt18" >
        <div class="col-lg-3 col-md-3 col-sm-6 mb18" routerLink="cDetails/{{data.code}}" *ngFor="let data of (filteredCustomerData | category: {name: searchText,created: searchText,mobile: searchText,city_label: searchText,email: searchText}) | paginate: { itemsPerPage: 12, currentPage: p1 }" >
          <div class="card bfa">
            <div class="card-body pd-0">
              <div class="row" >
                <div class="col-lg-6 col-md-6 col-sm-12 pt4 d-image1 text-center">
                    <img [src]="data.profile_image_url" (load)="dosomething1(data)" [ngClass]="{'smallLoader': data.loading == 1}" alt="user" onError="this.src='assets/icons/user (1).svg';">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 pad0 pl0 ht100">
                  <span class="f14 bold c32 wrap">{{data.name | titlecase}}</span><br>
                  <span class="f12 c75">{{data.mobile}}</span><br>
                  <!-- <span class="f12 c75 wrap">{{data.city_label | titlecase}}</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls class="float-right mt18 pagination f14 cac" (pageChange)="p1 = $event;changed1($event)" *ngIf="(filteredCustomerData | category: {name: searchText,created: searchText,mobile: searchText,city_label: searchText,email: searchText}).length > 12"></pagination-controls>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div class="modal fade cityModal" id="exampleModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title f14 bold">Confirm</p>
          <img src="assets/icons/letter-x.svg" alt="close" data-dismiss="modal" aria-label="Close" class="letter">
      </div>
      <div class="vl6"></div>
      <div class="modal-body">
        <p class="text-center bold f14 c32 mb5">Are You Sure Want To This Service?</p>
        <p class="text-center f12 c75">If you delete any service, then it will also delete existing user data, existing customers, orders, partners, etc. corresponding to that city.</p>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn f12 bE6 bold btnCancel text-right" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn f12 b008 bold btnOk text-right">Sure, Delete It</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal End -->
  
