<div id="status" *ngIf="!isConnected">
    <div _ngcontent-c1="" class="nointernet"><div _ngcontent-c1="" class="row"><div _ngcontent-c1="" class="col-lg-4 col-md-4"></div><div _ngcontent-c1="" class="col-lg-4 col-md-4 pd-0 text-center"><div _ngcontent-c1="" class="card"><div _ngcontent-c1="" class="card-text"><p _ngcontent-c1="" class="mb-10 bold f14">No Internet Connection</p></div></div></div><div _ngcontent-c1="" class="col-lg-4 col-md-4"></div></div></div>
</div>

<div class="admincard card minheight" *ngIf="dataLoaded == 1">
  <div class="card-body pd-0">
    <div class="adminbackimg">
      <div class="row pd30">
        <div class="col-lg-11 col-md-11 col-sm-11 text-center pdl70">
          <img src="{{Customers.profile_image_url}}"  (load)="dosomething()" [ngClass]="{'smallLoader': loading==='0'}"  onError="this.src='assets/icons/user (1).svg';"alt="user" class="adminUserImg1">
          <p class="f28 c32 bold mt15">{{Customers.name | titlecase}}</p> 
          <!--userData.name-->
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 text-right pd-0 pdr30">
            <img src="assets/icons/menu (2).svg" alt="menu" class="imagemenuAdmin" id="dropdownMenuButton" data-toggle="dropdown" data-disabled="true" aria-haspopup="true" aria-expanded="false"> 
            <div class="dropdown-menu admintransform"> 
              <div class="dropdwn" href="#exampleModal1" (click)="editFunc(Customers.code)" data-toggle="modal">          
              <a class="dropdown-item"  class="f12 c75 edit"    >Edit<img src="assets/icons/pencil-edit-button (2) - Copy - Copy.svg" alt="switch" class="detailimg2"  ></a>
            </div>
            <div class="dropdwn1"  (click)="delete(Customers.code)" href="#exampleModal" data-toggle="modal">   
              <a class="dropdown-item" class="f12 c75">Delete <img src="assets/icons/rubbish-bin - Copy.svg" alt="delete" class="detailimg3"></a>
           </div>
          </div>
      </div>
    </div>
  </div>         
</div>
    <div class="row adminimg mt45">
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 text-center">
      <img src="../../../../assets/icons/cell-phone.svg" alt="phone"><p class="f12 c32">{{Customers.mobile}}</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 text-center">
        <p><img src="../../../../assets/icons/close-envelope.svg" alt="envelope"><p class="f12 c32">{{Customers.email}}</p>
      </div>
      <!-- <div class="col-lg-2 col-md-2 col-sm-2 text-center">
        <p><img src="../../../../assets/icons/three-buildings.svg" alt="building"><p class="f12 c32">{{Customers.city_label | titlecase}}</p>
      </div> -->
      <div class="col-lg-2 col-md-2 col-sm-2 text-center"> 
        <img src="../../../../assets/icons/three-buildings.svg" alt="address"><p class="f12 c32">{{Customers.address | titlecase}}
       
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
    <div class="row ml96 mt45">
      <div class="col-lg-2 col-md-2 col-sm-2 text-center">
        <p class="f14 c75 mb5">Created By</p>
        <p class="f14 c32 bold">{{user_name | titlecase}}</p>
      </div> 
      <div class="col-lg-2 col-md-2 col-sm-2 text-center">
        <p class="f14 c75 mb5">Created Date</p>
        <p class="f14 c32 bold">{{Customers.created | date:'dd MMM yyyy'}} {{Customers.created | date:'shortTime'}}</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 text-center">
        <p class="f14 c75 mb5">Password <img src="../../assets/icons/eye.svg" class="admineye6" (click)="passwordShow()"></p>
        <input type="{{type}}" readonly value="{{Customers.password}}" style="border:none; margin-left: 39px;" class="f14 c32 bold">
      </div> 
      <div class="col-lg-2 col-md-2 col-sm-2 text-center">
        <p class="f14 c75 mb5">User Type</p>
        <p class="f14 c32 bold" *ngIf="Customers.user_type == 0">SuperAdmin</p>
        <p class="f14 c32 bold" *ngIf="Customers.user_type == 1">Admin</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 text-center" *ngIf="Customers.user_type == 1">
        <p class="f14 c75 mb5">Cities Accessible</p>
        <p class="f14 c32 bold">{{all_cities}}</p>
      </div>
    </div>  
</div>  
<!-- Modal Edit Admin -->
<div class="modal fade Modal" id="exampleModal1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title f14 c32 bold">Edit Admin</p>
          <img src="assets/icons/letter-x.svg" alt="close" data-dismiss="modal" aria-label="Close" class="letter">
        </div>
        <div class="vl15"></div>
        <div class="modal-body pd1025">
          <form [formGroup]="editForm" (ngSubmit)="loginValidation(editForm)">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="row mb12">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                      <label for="name" class="f14 c32">Name <span class="cred">*</span></label>
                      <input class="form-control mr-sm-2 f12 c32" formControlName="Name" (keyup)="changeValue($event.target.value)"    type="text" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                      <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                        <div *ngIf="f.Name.errors.required"><p class="f12 cred text-center"> Name is required</p></div>
                        <img src="../assets/icons/warning (1).svg" alt="warning" class="warningadmin5">
                       </div>
                    </div>
                  </div> 
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                      <label for="Mobile" class="f14 c32">Mobile <span class="cred">*</span></label>
                      <input class="form-control mr-sm-2 f12 c32"  #mobile formControlName="Mobile" (keyup)="changeValue($event.target.value)" autocomplete="off" ngModel passwordToggle required  type="text" placeholder="Mobile" [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }" (keypress)="validatemobile($event)"  #mobile minlength=10 maxlength=10 (input)="func($event.target.value)"/>
                      <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.Mobile.errors.required"><p class="f12 cred text-center">Mobile no. is required</p></div>
                        <img src="../assets/icons/warning (1).svg" alt="warning" class="warningadmin5">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                       <label for="Email" class="f14  c32">Email<span class="cred"></span></label>
                       <input class="form-control mr-sm-2 f12 c32"  (keyup)="changeValue($event.target.value)" id="email" formControlName="email"   type="text" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <!--<div *ngIf="f.email.errors.required"><h5 style="color: firebrick">Email is required</h5></div>-->
                          <div *ngIf="f.email.errors.email"><p class="f12 cred text-center">Email must be a valid email address</p></div>
                      </div> 
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                    <label for="address" class="f14 c32"> Address</label>
                    <input class="form-control mr-sm-2  f12 c32"formControlName="address" (keyup)="changeValue($event.target.value)"  type="text" placeholder="">
                  </div> 
                  <!-- <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                    <label for="city" class="f14 c32">City (Residence) <span class="cred">*</span></label>
                    <input ngx-google-places-autocomplete (focusout)="jj($event)" [options]="{
                      types: ['(cities)'],
                      componentRestrictions: { country: 'IN' }
                      }" #places="ngx-places" formControlName="city" class="form-control f12 32"  (keyup)="changeValue($event.target.value)"  type="text"  [ngClass]="{ 'is-invalid': submitted && f.city.errors }" placeholder="City">
                 
                    
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required"><p class="f12 cred text-center">City is required</p></div>
                      <img src="../assets/icons/warning (1).svg" alt="warning" class="warningadmin5">

                        
                    </div>
                  </div> -->
                  <div class="col-lg-6 col-md-6 col-sm-6 form-group ">
                    <label for="city" class="f14 c32">User Type <span class="cred">*</span></label>
                    <select class="form-control f12 c32" formControlName="user" (change)="chooseUserType($event.target.value)"   [ngClass]="{ 'is-invalid': submitted && f.user.errors }"  >
                      <option type="text" class="f12 c32 bold" value="0">SuperAdmin</option>
                      <option type="text" class="f12 c32 bold" value="1">Admin</option>         
                    </select>
                    <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
                      <div *ngIf="f.user.errors.required"><p class="f12 cred text-center">Please select user Type</p></div>
                      <img src="../assets/icons/warning (1).svg" alt="warning" class="warningadmin6">

                        <!--<div *ngIf="f.city.errors.email"><p style="color: firebrick">Email must be a valid email address</p></div>-->
                    </div>
                  </div>            
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                      <label for="name" class="f14 c32">Password <span class="cred">*</span></label>
                      <input type="{{type}}" class="form-control  f12 c32" value="{{Customers.password}}" (input)="abc($event.target.value)" formControlName="password" type="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" (keyup)="changeValue($event.target.value)" /> <img src="../../assets/icons/eye.svg" class="admineye5" (click)="passwordShow()">       
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required"><p class="f12 cred text-center"> Password is required</p></div>
                        <img src="../assets/icons/warning (1).svg" alt="warning" *ngIf="f.password.errors.required" class="warningadmin7">

                      </div> 
                    </div>
                   
                  </div>
                  <div class="col-lg-12 col-md-6 col-sm-6" *ngIf="user_type_value == 1">
                    <div class="form-group">
                      <label for="serviceSelect" class="f14 c32">City Accesible <span class="cred">*</span></label>
                      <div class="col-lg-12 btn-group pd-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <input type="text" class="form-control f12 c32" id="search" #search placeholder="Select Multiple Cities"  [(ngModel)]= "searchText" autocomplete="off" [ngModelOptions]="{standalone: true}">
                        <!-- <div class="text-center f12 cred" *ngIf="y ==1">City is required</div> -->
                        <div class="dropdown-menu servicesmenu f12 c75" style="width:100%!important;" (click)="$event.stopPropagation();close()">
                            <label class="dropdown-item custom-control custom-checkbox" for ="selectAllCities" (click)="selectAllCities()">
                                <input type="checkbox" class="custom-control-input" tabindex="0" [(ngModel)]="allSelected" id="selectAllCities" (click)="selectAllCities()" [ngModelOptions]="{standalone: true}">
                                <label class="custom-control-label" for="selectAllCities">Select All</label>
                            </label>
                            <div  id="myDiv21">
                            <li *ngFor="let item of allCities | searchFilter : searchText">
                                <label class="dropdown-item custom-control custom-checkbox" (onmouseup)="Cityselec(item)">
                                    <input type="checkbox" class="custom-control-input z f14 c32" [(ngModel)]="item.selected" id="{{item.code}}" (click)="Cityselec(item)" [ngModelOptions]="{standalone: true}">
                                    <label class="custom-control-label" for="{{item.code}}" >{{item.label}}</label>
                                </label>
                            </li>
                            </div>
                        </div>
                    </div>
                    <div class="text-center f12 cred" *ngIf="y ==1">Cities are required</div>
                    <img *ngIf="y ==1" src="../assets/icons/warning (1).svg" alt="warning" class="cityaccwarning">
                    <!-- <div class="row">
                        <span class="ng-value mrl15" *ngFor="let item1 of selected_cities">
                            <div class="card bdblue11">
                                <p class="f14 cblue mb0">{{item1.label}}<a (click)="City_remove(item1)"><img src="../../../assets/icons/letter-x - Copy.svg" alt="letter" class="letterx mrbt46"></a></p>
                              </div>
                        </span>
                    </div> -->
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <span class="ng-value" *ngFor="let item1 of selected_cities">
                                <div class="card bdblue11 mt10 mrr15">
                                    <p class="f14 cblue mb0">{{item1.label}}<a (click)="City_remove(item1)"><img src="../../../assets/icons/letter-x - Copy.svg" alt="letter" class="letterx mrbt46"></a></p>
                                  </div>
                            </span>
                        </div>
                    </div> 
                    </div> 
                                                            
                  </div>
                </div>
              <!-- </div> -->
              <div class="col-lg-6 col-md-6 form-group">
                <label for="serviceName" class="f14 c32">Profile Image</label>
                <div class="row">
                  <div class="col-lg-3 text-center">
                    <div class="icon d-imageEdit ">
                      <img src="{{croppedImage}}" alt="picture"onError="this.src='assets/icons/user (1).svg';">                    
                    </div>
                  </div>
                  <div class="col-lg-9">
                    <div class="row">
                      <div class="col-lg-6">
                          <label class="btn btn-default f12 c75 be5 ml15" >Choose Image
                     
                              <!-- <input  accept="image/*" type="file" (input)="fileChangeEvent($event)"  hidden> -->
                              <input  accept="image/*" type="file" (input)="fileChangeEvent($event)" hidden >
                            </label>
                      </div>
                      <div class="col-lg-6 pdl-0">
                          <button type="button" class="btn btn-default f12 c75 be5" (click)="removeImage()" *ngIf="Customers.profile_image_url!=''">Remove Image</button>
                      </div>
                      <div class="col-lg-6">
                          <label class="btn btn-default f12 c75 be5 ml15 pd614"(click)="changeCropView()" *ngIf="cropped !== true && value==1"> 
                              Recrop Image
                            </label>
                      </div>
                      <div class="col-lg-6 text-right">
                          <label class="mrb-5 mrl41" *ngIf="cropped == true && croppedImage != ''">
                              <button type="button"   class="btn f12 bE6 btnCancel" (click)="cancelCropView()" >Crop</button>
                          </label> 
                      </div>
                    </div>
                    

                    
                                       
                  </div>
                  <div class="modal-body" *ngIf="cropped == true">
                    <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="8 / 8"
                    [resizeToWidth]="128"
                    format="jpeg"
                    (imageCroppedBase64)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (loadImageFailed)="loadImageFailed()"
                  class="pd-0"></image-cropper>
                  <!-- <button type="button" class="btn f12 bE6 btnCancel text-right" (click)="cancelCropView()">Crop</button> -->
                </div>
                </div> 
              </div>
            </div>            
          </form>
        </div>
        <div class="modal-footer pd102015">
          <button type="button" class="btn f12 bE6 bold btnCancel pd723 text-right" data-dismiss="modal" (click)="terminate(Customers.profile_image_url)">Cancel</button>
          <button type="button" class="btn f12 b008 bold btnOk pd723 text-right" (click)="loginValidation(editForm.value)"  [disabled]="changes==0 && anotherChange ==0" [attr.data-dismiss]="useradd" >Update</button>
        </div>       
      </div> 
    </div>
  </div>
<!--<div class="modal fade p-detailModal" id="exampleModal1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title f14 c32 bold">Edit Admin</p>
        <img src="assets/icons/letter-x.svg" alt="close" data-dismiss="modal" aria-label="Close" class="letter">
      </div>
      <div class="vl15"></div>
      <div class="modal-body pd1025">
        <div class="row mb12">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
              <label for="name" class="f14 c32">Name <span class="cred">*</span></label>
              <input class="form-control mr-sm-2 f12 c32" id="name" type="text" placeholder="John Doe">
            </form>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
              <label for="number" class="f14 c32">Mobile <span class="cred">*</span></label>
              <input class="form-control mr-sm-2 f12 c32" id="number" type="text" placeholder="7583083083">
            </form>
          </div>
        </div>
        <div class="row mb12">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
              <label for="email" class="f14 c32">Email</label>
              <input class="form-control mr-sm-2 f12 c32" id="email" type="text" placeholder="JohnDoe@gmail.com">
            </form>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
              <label for="address" class="f14 c32">Address</label>
              <input class="form-control mr-sm-2 f12 c32" id="address" type="text" placeholder="Kotra">
            </form>
          </div>
        </div>
        <div class="row mb12">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
              <label for="city" class="f14 c32">City (Residence) <span class="cred">*</span></label>
              <select class="form-control f12 c32" id="city">
                <option type="text" class="f12 c75">Bangalore</option>
                <option type="text" class="f12 c75">Bangalore</option>
                <option type="text" class="f12 c75">Bangalore</option>
                <option type="text" class="f12 c75">Bangalore</option>
              </select>
            </form>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
            
                <label for="password" class="f14 c32">Password <span class="cred">*</span></label>
                <input type="password" id="password" placeholder="Password">
                <img src="../../assets/icons/eye.svg" class="admineye2">
            
            </form>
          </div>
        </div>
        <div class="row mb12">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
              <label for="city" class="f14 c32">User Type <span class="cred">*</span></label>
              <select class="form-control f12 c32" id="city">
                <option type="text" class="f12 c32 bold">Admin</option>
                <option type="text" class="f12 c32 bold">Admin</option>
                <option type="text" class="f12 c32 bold">Admin</option>
                <option type="text" class="f12 c32 bold">Admin</option>
              </select>
            </form>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
            
                <label for="confirmPassword" class="f14 c32">Confirm Password <span class="cred">*</span></label>
                <input type="password"    id="confirmPassword" placeholder="Password">
                <img src="../../assets/icons/eye.svg" class="admineye1">
            
            </form>
          </div>
        </div>
        <div class="row">          
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form>
              <div class="form-group">
                <label for="serviceSelect" class="f14 c32">City Accesible<span class="cred">*</span></label>
                <select class="form-control f12 c32" id="serviceSelect">
                  <option type="text" class="f12 c32">Bangalore</option>
                  <option type="text" class="f12 c32">Bangalore</option>
                  <option type="text" class="f12 c32">Bangalore</option>
                  <option type="text" class="f12 c32">Bangalore</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">                  
            <label for="serviceName" class="f14 c32">Profile Image</label>
            <div class="row">
              <div class="col-lg-5 text-center">
                <div class="icon d-imageEdit ">
                  <img src="assets/icons/picture (1).svg" alt="picture">
                  <p class="f14 c75 mb0">Drag Here</p>
                </div>
              </div>
              <div class="col-lg-7">
                <label class="btn btn-default f12 c75 be5 ml10">Choose Image<input type="file" hidden></label>
              </div>
            </div>                 
          </div>
        </div>
      </div>
      <div class="modal-footer pd102015">
        <button type="button" class="btn f12 bE6 bold btnCancel pd723 text-right" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn f12 b008 bold btnOk pd723 text-right">Add</button>
      </div>       
    </div>
  </div>
</div>-->
<!-- Edit Admin Modal End -->

<!-- Modal Delete -->
<div class="modal fade cityModal" id="exampleModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title f14 bold">Confirm</p>
          <img src="assets/icons/letter-x.svg" alt="close" data-dismiss="modal" aria-label="Close" class="letter">
      </div>
      <div class="vl6"></div>
      <div class="modal-body">
        <p class="text-center bold f14 c32 mb5">Are You Sure Want To Delete This Admin?</p>
        <p class="text-center f12 c75">If you delete this admin, it will permanently removed from your database and cannot be recovered.</p>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn f12 bE6 bold btnCancel text-right" data-dismiss="modal" (click)="terminate(croppedImage)">Cancel</button>
        <button type="button" class="btn f12 b008 bold btnOk text-right" data-dismiss="modal" (click)="deleteAdmin()">Sure, Delete It</button>
      </div>
    </div>
  </div>
</div>   
<!-- Delete Modal End -->
